src/main/mule/jencicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fae3608a-a337-4470-8619-281e083c2a8b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jencicdFlow" doc:id="12df454d-194c-43a5-bbcb-91eaccee0168" >
		<http:listener doc:name="Listener" doc:id="b61bb621-c9c0-4659-a9e5-61ec00922f3f" config-ref="HTTP_Listener_config" path="/k"/>
		<set-payload value='#["success123"]' doc:name="Set Payload" doc:id="1c6a9c0c-ed90-4fd7-817a-f1d3dd108b21" />
	</flow>
</mule>
